*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* background-color: #191a2b; */
}
.service-section{
    width: 100%;
    background-color: #191a2b;
}
.container{
    padding: 5% 8%;
}
.service-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
.service-heading h1{
    color: #fff;
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41, 17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.service-heading h1::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(255,255,255,0.05);
}
.service-heading h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: aquamarine;
    animation: anim 2s linear infinite;
}

@keyframes anim{
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 85%;
    }
}
.service-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.service-single-card{
    width: 320px;
    height: 330px;
    background-color: #1c2335;
    padding: 2% 4%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.service-single-card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: white;
    height: 15px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.service-single-card:hover:after{
    width: 225%;
    top: -100%;
}
.service-single-card i{
    color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.service-single-card h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.service-single-card p{
    color: gray;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.service-single-card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: rgb(26, 196, 35);
}

.service-single-card:hover i{
    color: rgb(26, 196, 35);
}

@media screen and (max-width:1200px) {
    .service-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 60px;
}
}
@media screen and (max-width:900px) {
    .service-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}
.service-single-card{
    width: 100%;
    height: 350px;
}
}
@media screen and (max-width:600px) {
    .service-cards{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-top: 50px;
}
.service-single-card{
    width: 100%;
    height: 300px;
}
}

.mea-image-slider {
    width: 100%;
}

.mea-image-slider .slider-item {
    padding: 10px;
}

.mea-image-slider img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}